# Created by .gitignore support plugin (hsz.mobi)
images/*
result/*
.idea/
.idea/*
ignoreFiles
/nbproject/private/
/vendor/
/web/cache/
/installer/composer.phar
/installer/extracted/
/installer/installer.php
/composer.lock