.login-form, .reset-form {
    width: 25rem;
    height: 18.75rem;
    position: fixed;
    top: 50%;
    margin-top: -9.375rem;
    left: 50%;
    margin-left: -12.5rem;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}

.reset-form {
    height: inherit;
}

.compForm {
    width: 100%;
    height: 100%;
}

#textarea {
    width: 100%;
    min-height: 500px;
    height: 90%;
    box-shadow: inset 0px 0px 7px -2px black;
    padding: 0.5em;
    font-family: "Segoe UI", "Open Sans", sans-serif, serif !important;
}

.notify {
    max-width: inherit;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.code {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
}

a.active {
    color: #000140;
}

.window {
    display: none;
    width: 400px;
    z-index: 3;
}
.window .window-content{
    height:auto !important;
}


.badge-default {
    background-color: #777;
}
.badge-primary {
    background-color: #337ab7;
}
.badge-success {
    background-color: #5cb85c;
}
.badge-info {
    background-color: #5bc0de;
}
.badge-warning {
    background-color: #f0ad4e;
}
.badge-danger {
    background-color: #d9534f;
}


.badge {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    position: absolute;
    right: 10px;
    top: 18px;
}


.d-menu li a {
    color: #727272;
    display: block;
    padding: .75rem 4rem .75rem 1.5rem;
    vertical-align: middle;
    white-space: nowrap;
    min-width: 12.5rem;
    border: none;
    position: relative;
}