.login-form {
    width: 25rem;
    height: 18.75rem;
    position: fixed;
    top: 50%;
    margin-top: -9.375rem;
    left: 50%;
    margin-left: -12.5rem;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}

.compForm {
    width: 100%;
    height: 100%;
}

#textarea {
    width: 100%;
    min-height:500px;
    height: 90%;
    box-shadow: inset 0px 0px 7px -2px black;
    padding: 0.5em;
    font-family: "Segoe UI","Open Sans",sans-serif,serif !important;
}

.notify {
    max-width: inherit;
}