{% include 'head.twig' %}
<div class="contentBox">
<div class="content">

<form action=""
      method="POST">
  Sind sie sicher das sie löschen möchten?
  Dies betrifft auch alle Unterverzeichnisse
  <br/>
  <input type="submit"
         value="Ja"
         name="delete" class="btn  btn-primary"/>
  <a href="{{ app.request.baseUrl }}/{{ app.request.path }}" class="backLink btn  btn-link">Zurück</a>
</form>
</div>
</div>

{% include 'footer.twig' %}
