{% include 'head.twig' %}

<form action="" method="POST">
    Sind sie sicher das sie löschen möchten?
    Dies betrifft auch alle Unterverzeichnisse
    <input type="submit" value="yes" name="delete"/>
    <a href="{{ app.request.baseUrl }}/{{ app.request.path }}">Zurück</a>
</form>

{% include 'footer.twig' %}
