{% include 'head.twig' %}
{% include 'headNavi.twig' %}


<div class="contentBox">
<div class="content">
  <form name="compForm"
        method="post"
        action="">



    <textarea name="content" data-provide="markdown" data-iconlibrary="fa" rows="40" id="editor">
    </textarea>

    <input type="hidden"
           name="path"
           value="{{ app.request.baseUrl }}"/>
    <input type="submit"
           name="action"
           value="save"
           class="btn"/>
    <a href="{{ app.request.baseUrl }}/{{ app.request.path }}"
       class="backLink btn">Zurück</a>
    <input type="hidden"
           name="content"
           value=""/>
  </form>
</div>
  <script type="text/javascript">
    var foo =`{{ app.request.content|raw }}`;
    $(document).ready(function () {
      $('#editor').text(foo);
    })
  </script>

</div>


{% include 'footer.twig' %}

