{% include 'head.twig' %}
{% include 'headNavi.twig' %}
<div class="contentBox">
  <div class="content">

    <form action=""
          method="POST">

      <div class="input-group">
        <label class=""
               for="appPath">Cache</label>
        <input type="text" 
               class="form-control" 
               placeholder="App Path" 
               aria-describedby="basic-addon2"
               value="{{ app.request.settings.appPath }}"
               name="appPath"
               aria-label="FOOOO"
               id="appPath"
               >
        <br/>
        <label class=""
               for="selAddr">Selenium Hub <sub>Example: http://xxx.xxx.xxx.xxx:4444</sub></label>
        <input type="text" 
               class="form-control" 
               placeholder="Selenium Hub:" 
               aria-describedby="basic-addon2"
               value="{{ app.request.settings.seleniumAddress }}"
               name="seleniumAddress"
               id="selAddr"
               >
        <br/>
        {% if app.request.settings.cache == true %}
        {% set checked = 'checked="checked"' %}
        {% else %}
          {% set checked = '' %}
          {% endif %}

            <label class="checkbox"
                   for="cache">Cache</label>
            <input type="checkbox"
                   value="cache"
                   name="cache"
                   {{ checked }}
                   id="cache"/>

            <br/>

            <a href="{{ app.request.baseUrl }}"
               class="backLink btn">Zurück</a>

            <input type="submit"
                   name="action"
                   value="save"
                   class="btn btn-primary"/>
          </div>

        </form>
      </div>
    </div>


    {% include 'footer.twig' %}
