{% include 'head.twig' %}
{% include 'headNavi.twig' %}


<div class="row">
  <div class="col-xs-6 col-md-4">{{ app.menu|raw }}</div>
  <div class="col-xs-12 col-md-8">{{ app.request.content|raw }}</div>
</div>


{% if app.request.update == true  %}
  <div class="alert alert-success" role="alert">
  A new Version is published, please update <a href="../installer">here</a>
  </div>
  {% endif %}

{% include 'footer.twig' %}

