{% include 'head.twig' %}
{% include 'headNavi.twig' %}
<div class="contentBox start">
<div class="content">
  {{ app.menu|raw }}
  {{ app.request.content|raw }}
</div>
</div>
{% include 'footer.twig' %}

