{% include 'head.twig' %}
{% include 'headNavi.twig' %}
<div class="contentBox start">
  <div class="toc">
    {{ app.menu|raw }}
  </div>
  {% if app.request.version == true  %}
  <div>
    <p>A new Version is published, please update <a href="../installer">here</a> </p>
  </div>
  {% endif %}

  <div class="content">
    {{ app.request.content|raw }}
  </div>
</div>
{% include 'footer.twig' %}

