{% include 'head.twig' %}
{{app.request.content|raw}}
<a href="{{app.request.baseUrl}}/edit/{{app.request.path}}" data-action="add" data-path="{{app.request.path}}">Edit</a>
{% include 'footer.twig' %}
