{% include 'head.twig' %}
{% include 'headNavi.twig' %}

<div class="contentBox">
  <div class="content">

<form action=""
      method="POST">

  <label for="rename">Umbennen zu:
  <input type="text" name="newPath" class="form-control input-sm"
         value="{{ app.request.path }}"/>
</label>
  <br/><br/>
  <input id="rename" type="submit"
         name="action"
         value="rename"
         class="btn btn-primary"/>

  <a href="{{ app.request.baseUrl }}/{{ app.request.path }}"
     class="backLink btn btn-link">Zurück</a>

  {% if app.request.message is defined %}
    <p>{{ app.request.message }}</p>
  {% endif %}

</form>
    </div></div>


{% include 'footer.twig' %}