{% include 'head.twig' %}

    {% if app.request.message != '' %}
      <p>{{ app.request.message }}</p>
      <a href="{{ app.request.baseUrl }}/"
         class="backLink btn">Zurück</a>
    {% else %}

      <form action=""
            method="POST" class="form-inline">
        Are you sure that you want to reset password from ?
        <br/>
        <br/>
        <label for="email">Username:
          <input type="text" name="email" class="form-control input-sm" />
        </label>
        <br/>
        <br/>
        <input type="submit"
               value="Ja"
               name="delete" class="btn btn-primary btn-action"/>
        <a href="{{ app.request.baseUrl }}/login/" class="backLink btn btn-link">Zurück</a>
      </form>

    {% endif %}

{% include 'footer.twig' %}