{% set buildResult = true %}

{% for results in app.result %}
    {% for result in results %}
        <table class="table-bordered">
            {% for resultEntry in result %}
                {% if resultEntry.0  != true %}
                    {% set buildResult = false %}
                {% endif %}
                <tr>
                    <td>Command</td>
                    <td>{{  resultEntry.2}}</td>
                    <td>{{  resultEntry.1}}</td>            
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endfor %}


{% if buildResult == true %}
    <p>Build: Successs</p>
{%else%}
   <p>Build: Failed</p>
{% endif %}
