{% include 'head.twig' %}
<div class="contentBox">
<div class="content">
<a href="{{ app.request.baseUrl }}/">root</a>
{% for results in app.result %}
  {% for result in results %}
    {% for resultEntry in result %}
      <p>{{ resultEntry|raw }}</p>
    {% endfor %}
  {% endfor %}
{% endfor %}

<a href="{{ app.request.baseUrl }}/{{ app.request.path }}"
   class="backLink btn">Zurück</a>
</div>
</div>
{% include 'footer.twig' %}