{% include 'head.twig' %}
<div class="content">
<a href="{{ app.request.baseUrl }}/">root</a>
{% for results in app.result %}
  {% for result in results %}
    <p>{{ result|raw }}</p>
  {% endfor %}
{% endfor %}

<a href="{{ app.request.baseUrl }}/{{ app.request.path }}"
   class="backLink btn">Zurück</a>
</div>
{% include 'footer.twig' %}