
<form action="" method="post">
  <fieldset>
    <legend>File Upload</legend>
    <input name="Datei" type="file" accept="text/*">

  </fieldset>
  <input type="submit" name="Upload File" />
</form>


