{% include 'head.twig' %}
{% include 'headNavi.twig' %}

<b>{{message}}</b>
<form action="" method="post" {{ form_enctype(form) }}>
  <fieldset>
    <legend>File Upload</legend>
    {{ form_widget(form) }}
  </fieldset>
  <input type="submit" name="Upload File" />
</form>

{% include 'footer.twig' %}

